
body{
    margin-top:0;
    padding:0;
    background-color: aliceblue;
    font-family: Arial, sans-serif;

}
h1{
    text-align: center;
    color: darkblue;
    font-size: 2.5em;
}

form{
    width:50%;
    margin:0 auto;
    
}
fieldset{
    width: 100%;
    padding: 20px;
    border: 2px solid rgb(10, 88, 151);
    border-radius: 10px;
    margin-bottom:15px;


    
}
legend{
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(9, 2, 46);
    
    font-size: larger;
}
input, textarea{
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 15px;
    border: 2px solid rgb(116, 125, 126);
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(1,1,1, 0.8);
    outline-color: #2e2d31;
    background-color: #c2dadd;

}
label{
    color: darkblue;
    font-size: 18px;
    display: block;
    font-weight: bold;
    font-family: cursive;
}
#btn{
    padding:10px;
    background-color: #4b28e6;
    border: 2px solid rgb(90, 86, 145);
    border-radius: 20px; 
    box-shadow: 0 5px 15px rgba(0,0,0, 0.8);
    margin:0 auto;
    width:100%;
    font-weight:bold;
    font-size: larger;
    color:white;
    margin-left: 20px;
    
    
}
#btn:hover{
    background-color: #724de2;

}
#resume{
    background-color:#c2dadd ;
    border:2px solid rgb(90, 86, 145);
    border-radius: 10px;
    width:50%;
    padding: 10px;
    margin-left:400px;
    box-shadow: 0 5px 15px rgba(1,1,1, 0.8);
    outline:none;
} 

